#main-grid{
    display: grid;
    grid-template-areas: 'frame-frame sections-frame armour-frame shield-frame'
    'frame-frame misc-frame armour-frame shield-frame'
    'fore-frame mid-frame core-frame aft-frame';
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto;
    background-color: grey;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

#frame-frame{grid-area: frame-frame;}
#sections-frame{grid-area: sections-frame;}
#misc-frame{grid-area: misc-frame;}
#armour-frame{grid-area: armour-frame;}
#shield-frame{grid-area: shield-frame;}
#fore-frame{grid-area: fore-frame;}
#mid-frame{grid-area: mid-frame;}
#core-frame{grid-area: core-frame;}
#aft-frame{grid-area: aft-frame;}

.frame{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 1px;
    border: 2px;
    padding: 1% 2% 2% 2%;
    border-style: solid;
    border-radius: 10px;
}

p{
    font-family: var(--font);
    font-size: 16px;
    color: black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h3{
    margin: 0px;
    padding: 0px;
    color: white;
}

.title{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 5%;
}

label{
    color: white;
    width:30%
}

#ship-name{
    margin-bottom: 5%;
    width: 60%
}

.card-selection{
    width: 95%;
    cursor: pointer;
}

#frame-card{
    display: grid;
    grid-template-areas: 'frame-pic frame-name frame-name frame-tier frame-tier'
    'frame-armour-label frame-armour-label frame-armour-pattern frame-armour-pattern frame-armour-pattern'
    'frame-shield-label frame-shield-label frame-shield-pattern frame-shield-pattern frame-shield-pattern'
    'frame-move-label frame-move-label frame-move-cost frame-move-cost frame-move-actual'
    'frame-turn-label frame-turn-label frame-turn-rate frame-turn-rate frame-turn-actual'
    'frame-damage-label frame-damage-label frame-damage-limit frame-damage-limit frame-damage-actual'
    'frame-health-label frame-health-label frame-health frame-health frame-health-actual'
    'frame-upgrade-label frame-upgrade-label frame-upgrade-cost frame-upgrade-cost frame-upgrade-cost'
    'frame-cost-label frame-cost-label frame-cost frame-cost frame-cost'
    'frame-sensors-label frame-sensors-label frame-sensors frame-sensors frame-sensors-actual'
    'frame-signal-label frame-signal-label frame-signal frame-signal frame-signal-actual'
    'frame-misc-label frame-misc-label frame-misc frame-misc frame-misc';
    grid-template-columns: 15% 20% 35% 15% 15%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
}
.card{
    background-color: white;
    width: 95%;
    margin-top: 5px;
    border: 4px;
    border-style: solid;
    border-radius: 7px;
}

.card>div{
    margin: 1px;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    padding: 2px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bonus{
    background-color: white;
    width: 95%;
    margin-top: 5px;
    border: 4px;
    border-style: solid;
    border-radius: 7px;
}

.bonus>div{
    margin: 1px;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
    padding: 2px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
}

#frame-pic{grid-area: frame-pic;}
#frame-name{grid-area: frame-name;}
#frame-tier{grid-area: frame-tier;}
#frame-armour-label{grid-area: frame-armour-label;}
#frame-armour-pattern{grid-area: frame-armour-pattern;}
#frame-shield-label{grid-area: frame-shield-label;}
#frame-shield-pattern{grid-area: frame-shield-pattern;}
#frame-move-label{grid-area: frame-move-label;}
#frame-move-cost{grid-area: frame-move-cost;}
#frame-move-actual{grid-area: frame-move-actual;}
#frame-turn-label{grid-area: frame-turn-label;}
#frame-turn-rate{grid-area: frame-turn-rate;}
#frame-turn-actual{grid-area: frame-turn-actual;}
#frame-damage-label{grid-area: frame-damage-label;}
#frame-damage-limit{grid-area: frame-damage-limit;}
#frame-damage-actual{grid-area: frame-damage-actual;}
#frame-health-label{grid-area: frame-health-label;}
#frame-health{grid-area: frame-health;}
#frame-health-actual{grid-area: frame-health-actual;}
#frame-upgrade-label{grid-area: frame-upgrade-label;}
#frame-upgrade-cost{grid-area: frame-upgrade-cost;}
#frame-cost-label{grid-area: frame-cost-label;}
#frame-cost{grid-area: frame-cost;}
#frame-sensors-label{grid-area: frame-sensors-label;}
#frame-sensors{grid-area: frame-sensors;}
#frame-sensors-actual{grid-area: frame-sensors-actual;}
#frame-signal-label{grid-area: frame-signal-label;}
#frame-signal{grid-area: frame-signal;}
#frame-signal-actual{grid-area: frame-signal-actual;}
#frame-misc-label{grid-area: frame-misc-label;}
#frame-misc{grid-area: frame-misc;}

table{
    margin-bottom: 5%;
    width: 95%;
}

td{
    color: white;
    text-align: left;
    padding: 2% 0%;
}

#sections-frame table{
    width: 85%;
}

#sections-frame td{
    text-align: center;
}

#section-warning-text{
    color: red;
    font-weight: 700;
    margin-bottom: 5px;
}

#misc-frame table{
    width: 75%;
}

/* #misc-frame td{
    
} */

.selection-label{
    font-size: 8px;
    color: red;
}

.system-box-label{
    font-size: 12px;
    color: blue;
}

.section-card-selection{
    width: 95%;
    cursor: pointer;
}

.section-card-div{
    display: flex;
    width: 100%;
}

.section-card-label-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.section-card-selection-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.bonus-view-button-div{
    width: 10%;
}

.box{
    cursor: pointer;
}

.detail-table td{
    text-align: center;
    width: 34%;
    padding: 1% 0%;
}

#merged-cells{
    text-align: left;
    padding: 2% 0%;
}

#ship-horizontal{
    width: 80%;
}

#ship-angle{
    width: 99%;
}

.card-picture{
    width: 99%;
}

.large-button{
    width: 120px;
    margin: 10px;
    padding: 15px 32px;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid black;

}

.medium-button{
    height: 25px;  
    width: 25px;
    padding: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.small-button{
    height: 100%;
    width: 100%;
    border: none;
    padding: 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.button-image{
    width: 100%;
    margin: auto;
}

.section-contents{
    display: block;
}

.section-card{
    display: grid;
    grid-template-areas: 'section-pic section-name section-tier section-close'
    'dr-1-label dr-1 dr-1 dr-1-view'
    'dr-2-label dr-2 dr-2 dr-2-view'
    'dr-3-label dr-3 dr-3 dr-3-view'
    'dr-4-label dr-4 dr-4 dr-4-view'
    'dr-5-label dr-5 dr-5 dr-5-view'
    'section-money section-misc section-misc section-misc'
    'section-cost section-misc section-misc section-misc';
    grid-template-columns: 15% 55% 20% 10%;
    grid-template-rows: auto auto auto auto auto auto auto 10%;
    height: 350px;
}

.section-pic{grid-area: section-pic;}
.section-name{grid-area: section-name;}
.section-tier{grid-area: section-tier;}
.section-close{grid-area: section-close;}
.dr-1-label{grid-area: dr-1-label;}
.dr-1{grid-area: dr-1;}
.dr-1-view{grid-area: dr-1-view;}
.dr-2-label{grid-area: dr-2-label;}
.dr-2{grid-area: dr-2;}
.dr-2-view{grid-area: dr-2-view;}
.dr-3-label{grid-area: dr-3-label;}
.dr-3{grid-area: dr-3;}
.dr-3-view{grid-area: dr-3-view;}
.dr-4-label{grid-area: dr-4-label;}
.dr-4{grid-area: dr-4;}
.dr-4-view{grid-area: dr-4-view;}
.dr-5-label{grid-area: dr-5-label;}
.dr-5{grid-area: dr-5;}
.dr-5-view{grid-area: dr-5-view;}
.section-money{grid-area: section-money;}
.section-cost{grid-area: section-cost;}
.section-misc{grid-area: section-misc;}

#component-card-holder{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#screen-cover{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.component-card{
    display: grid;
    grid-template-areas: 'component-pic component-name component-tier'
    'component-systems component-systems component-systems'
    'component-money component-misc component-misc'
    'component-cost component-misc component-misc';
    grid-template-columns: 15% 65% 20%;
    grid-template-rows: auto 60% auto 10%;
    height: 350px;
    width: 48%;
}

.component-pic{grid-area: component-pic;}
.component-name{grid-area: component-name;}
.component-tier{grid-area: component-tier;}
.component-systems{grid-area: component-systems;}
.component-money{grid-area: component-money;}
.component-cost{grid-area: component-cost;}
.component-misc{grid-area: component-misc;}

.box{
    /* Insert code for change to tick boxes */
}

